In [1]:
import re
import pandas as pd

In [10]:
# Q1.- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
str1='Python Exercises, PHP exercises.'
logic=r'[\s,.]'
print(re.sub(logic,':',str1))

Python:Exercises::PHP:exercises:

In [33]:
# Q2- Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
dict1 = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(dict1)

logic2 = r'[,.\d!;:XXXX]'
df['SUMMARY'] = df['SUMMARY'].apply(lambda x: re.sub(logic2, '', x))

print(df)

         SUMMARY
0    hello world
1           test
2  four five six

In [35]:
# Q3-Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.
def find_4(text):
    # logic3= re.compile(r'\w{4}')
    logic3 = re.compile(r'\b\w{4}\b')
    result=logic3.findall(text)
    return result
target_str='hello my name is sumit kumar. i am pursuing PG programme in data science and machine learning.i am working as a python developer at Arctutrus business solution private ltd.'
print(find_4(target_str))

['name', 'data']

In [36]:
# Q4-Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.
def find_3(text):    
    logic4 = re.compile(r'\b\w{3,5}\b')
    result=logic4.findall(text)
    return result
target_str='hello my name is sumit kumar. i am pursuing PG programme in data science and machine learning.i am working as a python developer at Arctutrus business solution private ltd.'
print(find_3(target_str))

['hello', 'name', 'sumit', 'kumar', 'data', 'and', 'ltd']

In [49]:
# Q5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
def remove_paren(text):
    logic5=re.compile(r'[()]')
    for i in text:
        result=logic5.sub('',i)
        print(result)
sample=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
remove_paren(sample)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

In [61]:
# Q6-Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
with open('regular.txt') as file:
    text = file.read()
    logic6 = r'\([^)]+\)'
    print(re.sub(logic6,'',text))

["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

In [78]:
# Q7-Write a regular expression in Python to split a string into uppercase letters.
sam_text='ImportanceOfRegularExpressionsInPython'
# logic7=r'(?=[A-Z])'
logic7=r'[A-Z][a-z]*'
print(re.findall(logic7,sam_text))
# print(re.split(logic7,sam_text))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [20]:
# Q8-Create a function in python to insert spaces between words starting with numbers.
def insert_space(text):
    logic8=r'(?=\d)'
    result=re.sub(logic8,' ',text)
    return result
sam_text2='RegularExpression1IsAn2ImportantTopic3InPython'
print(insert_space(sam_text2))

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [30]:
# Q9-Create a function in python to insert spaces between words starting with capital letters or with numbers.
def insert_space(text):
    # logic9=r'(?<=\D)(?=\d)|(?<=\d)(?=\D)'
    logic9=r'(?=[A-Z0-9])'
    result=re.sub(logic9,' ',text)
    return result
sam_text3='RegularExpression1IsAn2ImportantTopic3InPython'
print(insert_space(sam_text3))

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [47]:
# Q10-Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
data=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df=pd.DataFrame(data)
logic10=r'^[a-zA-Z]{1,6}'
df['first_five_letters']=df['Country'].apply(lambda x:''.join(re.findall(logic10, x)))
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [53]:
# Q11-Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.
text11='hello my name --issumit @kumar. i am pursuing $PG programme in data science and machine learning.i am working as a python developer at Arctutrus business_solution private ltd *from 2013.'
logic11=r'\w+'
result=re.findall(logic11,text11)
print(result)

['hello', 'my', 'name', 'issumit', 'kumar', 'i', 'am', 'pursuing', 'PG', 'programme', 'in', 'data', 'science', 'and', 'machine', 'learning', 'i', 'am', 'working', 'as', 'a', 'python', 'developer', 'at', 'Arctutrus', 'business_solution', 'private', 'ltd', 'from', '2013']

In [59]:
# Q12-Write a Python program where a string will start with a specific number.
text12='hello hi 1one this is 2nd phase of learning of practice question of @regular 1question.'
logic12=r'\b\d\S*'
result=re.findall(logic12,text12)
print(result)

['1one', '2nd', '1question.']

In [68]:
# Q13-Write a Python program to remove leading zeros from an IP address
ip='192.168.001.003'
logic13=r'\b0+'
print(re.sub(logic13,'',ip))

192.168.1.3

In [143]:
# Q14-Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
with open('date_regular.txt') as file:
    text=file.read()
    logic14 = r'\b(January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(st|nd|rd|th)\s+\d{4}\b'
    reg=re.compile(logic14)
    result=reg.finditer(text)
    for i in result:
        print(i.group(),end=', ')

August 15th 1947, January 26th 1950,

In [154]:
# Q15-Write a Python program to search some literals strings in a string.
text15= 'The quick brown fox jumps dog over the lazy dog.'
logic15=r'\bfox|\bhorse|\bdog'
print(re.findall(logic15,text15))

['fox', 'dog', 'dog']

In [159]:
# Q16-Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
text16='The quick brown fox jumps over the lazy dog.'
logic16=r'\bfox'
result=re.search(logic16,text16)
print(result.group())
print(f'start location from {result.start()} and end location {result.end()}')

fox
start location from 16 and end location 19

In [165]:
# Q17-Write a Python program to find the substrings within a string.
text17='Python exercises, PHP exercises, C# exercises'
logic17=r'\bexercises'
result=re.search(logic17,text17)
print(result.group())

exercises

In [12]:
# Q18-Write a Python program to find the occurrence and position of the substrings within a string.
import re
count=0
text18 = 'Python exercises, PHP exercises, C# exercises'
logic18 = 'exercises'
matches = re.finditer(logic18, text18)
for match in (matches):
    print(f'{match.group()} at position {match.start()}')
    count=count+1
print('total occurances:',count)

exercises at position 7
exercises at position 22
exercises at position 36
total occurances: 3

In [17]:
# Q19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.
logic19= r'(\d{4})-(\d{2})-(\d{2})'
text19='we are celebrate a independence day on 1947-08-15.'
result=re.sub(logic19,r'\3-\2-\1',text19)
print(result)

we are celebrate a independence day on 15-08-1947.

In [20]:
# Q20-Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
def find_precision(text):
    logic20 = re.compile(r'\b\d+\.\d{1,2}\b')
    result = logic20.findall(text)    
    return result
    
text20 = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

print(find_precision(text20))

['01.12', '145.8', '3.01', '27.25', '0.25']

In [28]:
# Q21-Write a Python program to separate and print the numbers and their position of a given string.
text21 = 'hello i have a 12 bananas and 2 kg apple and 11 kg oranges. i have to pay rs 320.'
logic21 = r'\b\d+\b'
matches = re.finditer(logic21, text21)
for match in matches:
    print(f'Number: {match.group()} at position start with {match.start()} and end with {match.end()-1}')

Number: 12 at position start with 15 and end with 16
Number: 2 at position start with 30 and end with 30
Number: 11 at position start with 45 and end with 46
Number: 320 at position start with 77 and end with 79

In [33]:
# Q22-Write a regular expression in python program to extract maximum/largest numeric value from a string.
text22= 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
logic22=r'\b\d+'
result=re.findall(logic22,text22)
print(max(result))

950

In [37]:
# Q23- Create a function in python to insert spaces between words starting with capital letters.
def insert_capital(text):
    logic23=r'(?=[A-Z])'
    result=re.sub(logic23,' ',text)
    return result
sam_text23='RegularExpressionIsAnImportantTopicInPython'
print(insert_capital(sam_text23))

 Regular Expression Is An Important Topic In Python

In [44]:
# Q24-Python regex to find sequences of one upper case letter followed by lower case letters
logic24=r'[A-Z][a-z]+'
text24='Inside the Air was heavy with the Scent of aged paper and ink.'
result=re.findall(logic24,text24)
print(result)

['Inside', 'Air', 'Scent']

In [51]:
# Q25-Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
text25="Hello hello world world"
logic25=r'\b(\w+)(?:\W+\1\b)+' 
result=re.sub(logic25, r'\1', text25)
print(result)

Hello hello world

In [62]:
# Q26- Write a python program using RegEx to accept string ending with alphanumeric character.
logic26=r'^[a-zA-Z0-9]+$'
text26='hellokncifthoiflf12aA2'
result=re.match(logic26,text26)
if result:
    print('String is accepted here.')
else:
    print('String not ending with alphaumeric character')

String is accepted here.

In [76]:
# Q27-Write a python program using RegEx to extract the hashtags.
text27="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
logic27= r'#\w+'
result=re.findall(logic27,text27)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [97]:
# Q28-Write a python program using RegEx to remove <U+..> like symbols
text28="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
logic28=r'<U\+\w+>'
result=re.sub(logic28,'',text28)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [112]:
# Q29-Write a python program to extract dates from the text stored in the text file.
with open('date.txt','r') as file:
    text29=file.read()    
    logic29=re.compile('(\d{2})-(\d{2})-(\d{4})')
    result=logic29.finditer(text29)
    for i in result:
        print(i.group())

12-09-1992
15-12-1999

In [117]:
# Q30- Create a function in python to remove all words from a string of length between 2 and 4.
def rem_two(text):
    logic30=re.compile(r'\b\w{2,4}\b')
    result=logic30.sub('',text)
    return result    
text30="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
print(rem_two(text30))

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.